<h3 text-color="red" color="red"><b>Администрирование</b></h3>
<table class="table table-bordered">
    
    <tr class="thead-dark">
        <th>Номер заказа</th>
        <th>Тип заказа</th>
        <th>Дата и время заказа</th>
        <th>Контактное лицо</th>
        <th>Телефон</th>
        <th>Сумма заказа</th>
        <th>Желаемая дата доставки</th>
        <th>Желаемое время доставки</th>
        <th>Статус заказа</th>
    </tr>
    {{#each orderInfo}}
    <tr class="order">
        <td class="orderNumber">{{this.orderNumber}}</td>
        <td>{{this.orderTitle}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.lastName}} {{this.firstName}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.orderAmount}} RUB</td>
        <td>
            <input class="deliveryDate" class="form-control" type="date" name="desired_time"
                value="{{#formatDate this.deliveryDate}}{{/formatDate}}">
        </td>
        <td>
            <select class="deliveryTime" name="" id="">
                <option value="{{this.deliveryTime}}" selected hidden>{{this.deliveryTime}}</option>
                <option value="9:00-12:00">9:00-12:00</option>
                <option value="12:00-15:00">12:00-15:00</option>
                <option value="15:00-18:00">15:00-18:00</option>
                <option value="18:00-21:00">18:00-21:00</option>
                <option value="21:00-23:00">21:00-23:00</option>
            </select></td>
        <td>
            <select class="status" name="" id="">
                <option value="{{this.status}}" selected hidden>{{this.status}}</option>
                <option value="Открыт">Открыт</option>
                <option value="Завершен">Завершен</option>
                <option value="Передан курьеру">Передан курьеру</option>
                <option value="Вручен покупателю">Вручен покупателю</option>
                <option value="Аннулирован">Аннулирован</option>
            </select>
        </td>
    </tr>
    {{/each}}
</table>
<script src="/js/admin.js"></script>