<h1>Администрирование</h1>

<table width="100%" border="1" cellpadding="4">
    <tr>
        <th>Номер заказа</th>
        <th>Тип заказа</th>
        <th>Дата и время заказа</th>
        <th>Контактное лицо</th>
        <th>Телефон</th>
        <th>Сумма заказа</th>
        <th>Желаемая дата доставки</th>
        <th>Желаемое время доставки</th>
        <th>Статус заказа</th>
    </tr>

    {{#each orderInfo}}
    <tr>
        <td>{{this.orderNumber}}</td>
        <td>{{this.orderTitle}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.lastName}} {{this.firstName}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.orderAmount}} RUB</td>
        <td>
            <input class="devileryDate" type="date" name="desired_time" value="2018-05-05">
        </td>
        <td>
            <select name="" id="">
                <option value="" selected hidden>{{this.deliveryTime}}</option>
                <option value="timePeriod1">9:00-12:00</option>
                <option value="timePeriod1">12:00-15:00</option>
                <option value="timePeriod1">15:00-18:00</option>
                <option value="timePeriod1">18:00-21:00</option>
                <option value="timePeriod6">21:00-23:00</option>
            </select></td>
        <td>
            <form action="/admins" method="POST">
                <select name="" id="">
                    <option value="" selected hidden>{{this.status}}</option>
                    <option value="open">Открыт</option>
                    <option value="done">Завершен</option>
                    <option value="to_courier">Передан курьеру</option>
                    <option value="delivered">Вручен покупателю</option>
                    <option value="cancelled">Аннулирован</option>
                </select>
            </form>
        </td>
    </tr>
    {{/each}}
</table>