<h1>Администрирование</h1>


<table width="100%" border="1" cellpadding="4">
    
    <tr>
        <th>Номер заказа</th>
        <th>Дата и время заказа</th>
        <th>Контактное лицо</th>
        <th>Телефон</th>

        <th>Сумма заказа</th>
        <th>Желаемая дата доставки</th>
        <th>Статус</th>
        <th>Статус заказа</th>
    </tr>
    
    {{#each orderInfo}}
    <tr>
        <td>{{this.orderNumber}}</td>
        <td>{{this.createdAt}}</td>
        <td>{{this.lastName}} {{this.firstName}}</td>
        <td>{{this.phone}}</td>
        <td>{{this.orderAmount}} RUB</td>
        <td>{{this.deliveryTime}}
            <form action="/admins" method="POST">
                <input type="text" name="desired_time">
                <input type="submit" value="Изменить">
            </form>
        </td>
        <td>{{this.status}}</td>
        <td>
            <form action="/admins" method="POST">
                <select name="" id="">
                    <option>Выставить статус</option>
                    <option value="open">Открыт</option>
                    <option value="done">Завершен</option>
                    <option value="to_courier">Передан курьеру</option>
                    <option value="delivered">Вручен покупателю</option>
                    <option value="cancelled">Аннулирован</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </td>
    </tr>
    {{/each}}
</table>
