<h1>Результаты анализов:</h1>

<table class="table table-bordered">
    <tr>
        <th>Дата анализа</th>
        <th>Протеин</th>
        <th>Креатинин</th>
        <th>Урина</th>
        <th>Холестерол</th>
        <th>Билирубин</th>
    </tr>
        <tr class="order">
            <td class="orderNumber">{{this.orderNumber}}</td>
            <td>{{this.orderTitle}}</td>
            <td>{{this.createdAt}}</td>
            <td>{{this.lastName}} {{this.firstName}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.orderAmount}}</td>
        </tr>

</table>