<h1>страничка курьера</h1>
<hr>
<h2>Текущие заказы</h2><br>
<hr>
<table class="table table-bordered table-primary" border="1">
    <tr>
        <th>номер заказа</th>
        <th>адрес</th>
        <th>дата доставки</th>
        <th>время доставки</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>телефон</th>
        <th>доставлен</th>
        <th>статус</th>
        <th>отмена</th>
    </tr>
    {{#each orderInfo}}
    <tr>
        <td>{{this._id}}</td>
        <td>{{this.deliveryAdress}}</td>
        <td>{{this.deliveryDate}}</td>
        <td>{{this.deliveryTime}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phone}}</td>
        <td>
            <form method="post" action='/courier/{{this.id}}'>
                <button type="submit" name="submit_param" value="ДОСТАВЛЕН">ДОСТАВЛЕН</button>
            </form>
        </td>
        <td>{{this.status}}</td>
        <td>
            <form method="post" action='/courier/{{this.id}}'>
                <button type="submit" name="submit_param" value="ОТМЕНЁН">ОТМЕНИТЬ</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>