<script src="/js/courier.js"></script>
<h1>Cтраничка Курьера:   Текущие заказы</h1>
<table border="1" cellspacing="0" class="table table-striped">
    <tr>
        <th>номер заказа</th>
        <th>адрес</th>
        <th>дата доставки</th>
        <th>время доставки</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>телефон</th>
        <th>доставлен</th>
        <th>статус</th>
        <th>отмена</th>
    </tr>
    {{#each orderInfo}}
    <tr class="orderRow" id="{{this._id}}">
        <td>{{this.orderNumber}}</td>
        <td>{{this.address}}</td>
        <td>{{this.deliveryDate}}</td>
        <td>{{this.deliveryTime}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.phone}}</td>
        <td>
            <form method="post" action='/courier/{{this.id}}'>
                <button type="submit" name="submit_param" value="ДОСТАВЛЕН" class='delivery'>ДОСТАВЛЕН</button>
            </form>
        </td>
        <td>{{this.status}}</td>
        <td>
            <form method="post" action='/courier/{{this.id}}'>
                <button type="submit" name="submit_param" value="ОТМЕНЁН" class='delete'>ОТМЕНИТЬ</button>
            </form>
        </td>
    </tr>
    {{/each}}
</table>