<h1>Архив заказов</h1>
<table border="1" cellspacing="0" class="table table-striped table-dark">
    <tr class="thead-dark">
        <td>Номер заказа</td>
        <td>Тип заказа</td>
        <td>Дата и время заказа</td>
        <td>Контактное лицо</td>
        <td>Телефон</td>
        <td>Желаемая дата доставки</td>
        <td>Желаемое время доставки</td>
        <td>Адрес доставки</td>
        <td>Телефон</td>
        <td>Статус</td>
    </tr>

    {{#each order}}
    <tr>

        <td>{{orderNumber}}</td>
        <td>{{orderTitle}}</td>
        <td>{{createdAt}}</td>
        <td>{{lastName}} {{firstName}}</td>
        <td>{{phone}}</td>
        <td>{{deliveryDate}}</td>
        <td>{{deliveryTime}}</td>
        <td>{{address}}</td>
        <td>{{phone}}</td>
        <td>{{status}}</td>

    </tr>
    {{/each}}
</table>
