<div class="container">
<div class=" row">

    <div class="col">Номер заказа</div>
    <div class="col">Тип заказа</div>
    <div class="col">Дата и время заказа</div>
    <div class="col">Контактное лицо</div>
    <div class="col">Телефон</div>
    <div class="col">Желаемая дата доставки</div>
    <div class="col">Желаемое время доставки</div>
    <div class="col">Адрес доставки</div>
    <div class="col">Телефон</div>
    <div class="col">Статус</div>
</div>

{{#each order}}
<div class="prev-grid row">

    <div class="prev-flex-block">{{orderNumber}}</div>
    <div class="prev-flex-block">{{orderTitle}}</div>
    <div class="prev-flex-block">{{createdAt}}</div>
    <div class="prev-flex-block">{{lastName}} {{firstName}}</div>
    <div class="prev-flex-block">{{phone}}</div>
    <div class="prev-flex-block">{{deliveryDate}}</div>
    <div class="prev-flex-block">{{deliveryTime}}</div>
    <div class="prev-flex-block">{{address}}</div>
    <div class="prev-flex-block">{{phone}}</div>
    <div class="prev-flex-block">{{status}}</div>

</div>
{{/each}}

</div>