


{{#each order}}
<div class="prev-grid">

    <div>{{orderNumber}}</div>
    <div>{{orderTitle}}</div>
    <div>{{createdAt}}</div>
    <div>{{lastName}} {{firstName}}</div>
    <div>{{order.phone}}</div>
    <div>{{deliveryDate}}</div>
    <div>{{deliveryTime}}</div>
    <div></div>
    <div></div>


</div>
{{/each}}